li {
    list-style-type: none; /* Remove default list item marker */
    margin-bottom: 0.625rem; /* Adjust space between list items */
    color: #333; /* Set text color */
}


/* CSS for the client list */
main-client {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding: 20px;
}

.client-list {
    flex: 1;
    text-align: start;
    margin-right: 20px; /* Add some spacing between client-list and client-list-image */
    padding-left: 50px;
}

.client-heading h1 {
    font-size: 36px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.client-list h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.client-list ul {
    list-style-type: none;
    padding: 0;
}

.client-list li {
    color: #333;
    margin-bottom: 10px;
    position: relative;
}

.client-list li::before {
    content: "\2022"; /* Unicode character for a bullet point */
    color: #282a28; /* Color of the bullet point */
    font-size: 20px;
    margin-right: 10px; /* Space between the bullet point and the text */
    position: absolute;
    left: -30px; /* Adjust the position of the bullet point */
}


.client-list-image {
    flex: 1;
    text-align: start;
}

.client-list-image img {
    max-width: 100%;
    height: auto;
}


h1 {
    padding: 0;
    margin-top: 20px;
}




@media only screen and (max-width: 1000px) {
    main-client {
        flex-direction: column; /* Stack items vertically when the width is 1000 pixels or less */
        align-items: center; /* Center align items horizontally when stacked vertically */
    }

    .client-list,
    .client-list-image {
        width: 100%; /* Set the width to 100% so they take up the full width */
        margin-right: 0; /* Remove the right margin */
        padding-left: 0; /* Remove the left padding */
        text-align: center; /* Center align text content */
    }

    .client-list-image img {
        margin: 0 auto; /* Center the image horizontally */
    }
}
